<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrar Filme</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	
	<div class="container">
		<h3>Venda de Ticket</h3>
		
		<div class="row" th:if="${menssagem != ''}">
			<div th:classappend="${err} ?  'alert alert-danger' : 'alert alert-success'" role="alert" th:text="${menssagem}"></div>
		</div>
		
        <form class="form-horizontal " action="/venda/ticket" method="post" name="filme">
			<div class="row " hidden>
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="filme" th:value="${filme.id}" readonly>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<label>Filme</label> 
					<input type="text" class="form-control" name="_filme" th:value="${filme.nomeFilme}" readonly>
				</div>
            </div>
            
            <div class="row" hidden>
				<div class="form-group col-md-6">
                    <input type="text" class="form-control" name="sessao" th:value="${sessao.id}" readonly>
				</div>
            </div>
            
            <div class="row">
				<div class="form-group col-md-6">
                    <label>Sessao</label>
                    <input type="text" class="form-control" name="_sessao" th:value="${sessao.horarioExibicao}" readonly>
				</div>
			</div>

            <div class="row">
				<div class="form-group col-md-6">
					<label>Poltrona</label> 
					<select class="custom-select" name="poltrona">
						<option th:each="poltrona : ${poltronas}" th:value="${poltrona}" th:text="${poltrona}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<select class="custom-select" name="tipo">
						<option  value="0" > Inteira </option>
						<option  value="1" >Meia</option>
						</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-success">Finalizar Compra</button>
			<a href="/" class="btn btn-danger">Cancelar</a>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
</body>
</html>